<div class="row">
  <h1 class="col-md-6">Purchases</h1>
  <div class="col-md-6 text-right">
    <%= link_to new_purchase_path, class: "btn btn-success my-2" do %>
      <i class="mdi mdi-plus me-2" aria-hidden="true"></i>
      Add New Purchase
    <% end %>
  </div>
</div>

<table class="table table-bg table-hover datatable">
  <thead>
    <tr>
      <th>#</th>
      <th>Buyer Name</th>
      <th>Buyer Email</th>
      <th>Volume</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each_with_index do |purchase, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= "#{purchase.user.first_name} #{purchase.user.last_name}" %></td>
        <td><%= purchase.user.email %></td>
        <td><%= purchase.volume %></td>
        <td><%= purchase.amount %></td>
        <td><%= purchase.status %></td>
        <td>
          <% if current_user.is_admin %>
            <%= button_to edit_purchase_path(purchase), 
              title: 'Edit', 
              method: :get,
              'data-toggle': 'tooltip', 
              'data-placement': 'right',
              class: "btn btn-primary mr-2"
            %>
          <% elsif !purchase.Paid? %>
            <%= button_to edit_purchase_path(purchase), 
              title: 'Pay', 
              method: :get,
              'data-toggle': 'tooltip', 
              'data-placement': 'right',
              class: "btn btn-success mr-2"
            %>
          <% else %>
            N/A
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
