<div class="row">
  <h1 class="col-md-12 mt-4">Payment Details</h1>
</div>

<div class="card mb-4 p-4">
  <div class="card-body">
    <table class="table table-borderless">
      <tbody>
        <% @payment.attributes.each do |attr, value| %>
          <tr>
            <td class="col-md-6 border-right">
              <p>
                <strong><%= attr.to_s.split('_').map{ |i| i.capitalize }.join(' ') %>:</strong>
              </p>
            </td>
            <td class="col-md-6">
              <p>
                <%= value %>
              </p>
            </td>
          </tr>
        <% end %>
        <% @payment.bank_account&.attributes&.each do |attr, value| %>
          <tr>
            <td class="col-md-6 border-right">
              <p>
                <strong><%= attr.to_s.split('_').map{ |i| i.capitalize }.join(' ') %>:</strong>
              </p>
            </td>
            <td class="col-md-6">
              <p>
                <%= value %>
              </p>
            </td>
          </tr>
        <% end %>
        <% @payment.card&.attributes&.each do |attr, value| %>
          <tr>
            <td class="col-md-6 border-right">
              <p>
                <strong><%= attr.to_s.split('_').map{ |i| i.capitalize }.join(' ') %>:</strong>
              </p>
            </td>
            <td class="col-md-6">
              <p>
                <%= value %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="card-footer d-flex justify-content-center">
    <% if current_user.is_admin? %>
      <% if @payment.Pending? %>
        <%= link_to verify_purchase_payment_path(@purchase, @payment), class: "btn btn-sm btn-success my-2" do %>
          <i class="mdi mdi-account-check mr-2" aria-hidden="true"></i>
          Verify
        <% end %>
      <% end %>
    <% else %>
      <% if @payment.Incomplete? %>
        <%= link_to @payment.Bank_account? ? bank_account_purchase_payment_path(@purchase, @payment) : card_purchase_payment_path(@purchase, @payment), class: "btn btn-sm btn-success my-2" do %>
          <i class="mdi mdi-timer-sand mr-2" aria-hidden="true"></i>
          Complete Info
        <% end %>
      <% elsif @payment.Pending? %>
        <%= link_to edit_purchase_payment_path(@purchase, @payment), class: "btn btn-sm btn-success my-2" do %>
          <i class="mdi mdi-account-edit mr-2" aria-hidden="true"></i>
          Edit
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
