<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand py-0" do %>
      <%= image_pack_tag "media/images/fuel_logo.png", size: "120x60" %>
    <% end %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to purchases_path, class: "nav-link text-white h5" do %>
              Purchases
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link text-white h5" do %>
              Transactions
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to profile_path, class: "nav-link text-white h5" do %>
              <%= "#{current_user.first_name} #{current_user.last_name}" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-white h5" do %>
              Logout
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
