<div class="row">
  <h1 class="col-md-12 mt-4">User Details</h1>
</div>

<div class="card mb-4 p-4">
  <div class="card-body">
    <table class="table table-borderless">
      <tbody>
        <% @user_attrs.each do |attr| %>
          <tr>
            <td class="col-md-6 border-right">
              <p>
                <strong><%= attr.to_s.split('_').map{ |i| i.capitalize }.join(' ') %>:</strong>
              </p>
            </td>
            <td class="col-md-6">
              <p>
                <%= current_user.public_send("#{attr}") %>
              </p>
            </td>
          </tr>
        <% end %>
        <% @bank_attrs&.each do |attr| %>
          <tr>
            <td class="col-md-6 border-right">
              <p>
                <strong><%= attr.to_s.split('_').map{ |i| i.capitalize }.join(' ') %>:</strong>
              </p>
            </td>
            <td class="col-md-6">
              <p>
                <%= current_user.bank_account.public_send("#{attr}") %>
              </p>
            </td>
          </tr>
        <% end %>
        <% @card_attrs&.each do |attr| %>
          <tr>
            <td class="col-md-6 border-right">
              <p>
                <strong><%= attr.to_s.split('_').map{ |i| i.capitalize }.join(' ') %>:</strong>
              </p>
            </td>
            <td class="col-md-6">
              <p>
                <%= current_user.card.public_send("#{attr}") %>
              </p>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
    <% if current_user.bank_account.present? %>
      <%= link_to "Edit bank account information", edit_bank_account_path(current_user.bank_account) %><br />
      <%= link_to "Switch to card", new_card_path %><br />
    <% elsif current_user.card.present? %>
      <%= link_to "Edit card information", edit_card_path(current_user.card) %><br />
      <%= link_to "Switch to bank account", new_bank_account_path %><br />
    <% end %>
  </div>

  <div class="card-footer d-flex justify-content-center">
    <%= link_to edit_user_registration_path, class: "btn btn-primary btn-sm mr-2" do %>
      <i class="mdi mdi-account-edit mr-2" aria-hidden="true"></i>
      Edit
    <% end %>
    <%= link_to root_path, class: "btn btn-secondary btn-sm ms-2" do %>
      <i class="mdi mdi-arrow-left mr-2" aria-hidden="true"></i>
      Discard
    <% end %>
  </div>
</div>
